html {
  box-sizing: border-box;
  font-family: 'Bevan', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  color: #000;
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.cards li {
  display: inline-block;
  margin: .3em;
  padding: .75em;
  color: #fff;
  background-color: #713837;
  border-radius: 6px;
  text-align: left;
}
